.container{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 2rem 3rem;
    margin-top: 10rem;
}

p{
    font-size: 30px;
    font-weight: bold;
}